{% extends 'layout.html.twig' %}
{% block body %}

	<div class="alert alert-danger">

		<h1>An error occurred</h1>
		<p>Please ensure you have selected a CSV to upload</p>

		<p><a href="/" class="text-danger">&larr; Try again</a></p>

	</div>

{% endblock body %}